abacatepay
annotated-types
blinker
certifi
charset-normalizer
click
contourpy
cycler
defusedxml
dnspython
email_validator
Faker
Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
fonttools
fpdf2
greenlet
idna
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pillow
psycopg2-binary
pydantic
pydantic_core
pyparsing
python-dateutil
python-dotenv
pytz
qrcode
requests
six
SQLAlchemy
typing-inspection
typing_extensions
tzdata
urllib3
Werkzeug
WTForms